body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: grey;
}

header {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-size: 2em;
    font-weight: bold;
    background: -webkit-linear-gradient(left, #f1c40f, #e67e22);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.nickname_box {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    padding: 20px;
    text-align: center;
}

.nickname_box h1 {
    color: #fff;
}

.nickname_box input {
    width: 200px;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
}

.nickname_box button {
    width: 60px;
    padding: 10px;
    margin-top: 10px;
    background-color: #e67e22;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.nickname_box button:hover {
    background-color: #f39c12;
}

