:root{
    --safferBlue: rgb(0,165,228);
    --backgroundColor: rgb(32, 28, 28);
}

body {
    background-color: rgb(32, 28, 28);
}
h1 {
    /* 1 pixel black shadow to left, top, right and bottom */
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    font-family: sans; color: black;
    text-align: center;
    
}

.button{
    background-color: rgb(0,165,228);
}

.mainImage {
    display: inline-block; 

}
.mainImage img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.mainImage button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: .5%;
    width: 10%;
    height: 50pt;

    border: 0ch;
    background-color: var(--safferBlue);

    transition-duration: 0.2s;
}

.mainImage button:hover {
    background-color: white; /* Green */
    color: black;
    border: 3pt solid var(--safferBlue);
    
  }


.home{
    position: fixed;
    padding: 1%;
    right: 0%;
    top: 0%;
    
}
.home button{
    background-color: var(--safferBlue); /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
}
.home button:hover {
    background-color: white; /* Green */
    color: var(--safferBlue);
    border: 2pt solid var(--safferBlue);
  }

.citation{
    
    position: fixed;
    bottom: 0;
    right: 0;   
}
.citation a{
    color: black;
    font-size: 10pt;
}